USE [master]
GO
/****** Object:  Database [SACP]    Script Date: 6/12/2022 10:17:14 PM ******/
CREATE DATABASE [SACP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SACP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SACP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SACP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SACP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SACP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SACP]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 6/12/2022 10:17:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customerId] [int] NOT NULL,
	[firstName] [nvarchar](1000) NOT NULL,
	[lastName] [nvarchar](1000) NOT NULL,
	[phoneNumber] [nvarchar](1000) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/12/2022 10:17:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[customerId] [int] NOT NULL,
	[userName] [nvarchar](1000) NOT NULL,
	[userPassword] [nvarchar](1000) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[userId] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
